<form [formGroup]="addCourseForm" (submit)="onSubmit()">

  <div class="row btn-page">
    <div class="col-12">
      <app-card cardTitle="Add Course" cardClass="card-datatable" [options]="false">
        <div>
          <div class="row col-12">

            <div class="col-sm-12">
              <div class="form-group fill">
                <input type="text" class="form-control" placeholder="Course Title" formControlName="title"
                  [ngClass]="{'is-invalid': formControls.title.errors && submitted}">
                <div *ngIf="submitted && formControls.title.errors" class="invalid-feedback">
                  <div *ngIf="formControls.title.errors.required">
                    Please enter course title.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <select name="select" class="form-control form-control-default" formControlName="subject"
                  [ngClass]="{'is-invalid': formControls.subject.errors && submitted}">
                  <option value="opt1">Select One Value Only</option>
                  <option *ngFor="let subject of subjectList" value="{{subject.id}}">{{subject.subjectName}}</option>
                </select>
                <div *ngIf="submitted && formControls.subject.errors" class="invalid-feedback">
                  <div *ngIf="formControls.subject.errors.required">
                    Please Select your Subject.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <select name="select" class="form-control form-control-default" formControlName="userClass"
                  [ngClass]="{'is-invalid': formControls.userClass.errors && submitted}">
                  <option value="opt1">Select One Value Only</option>
                  <option *ngFor="let class of classList" value="{{class.id}}">{{class.className}}</option>
                </select>
                <div *ngIf="submitted && formControls.userClass.errors" class="invalid-feedback">
                  <div *ngIf="formControls.userClass.errors.required">
                    Please Select your class.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <textarea class="form-control" formControlName="description"
                  placeholder="Brief Description About the This Course"
                  [ngClass]="{'is-invalid': formControls.description.errors && submitted}"></textarea>
                <div *ngIf="submitted && formControls.description.errors" class="invalid-feedback">
                  <div *ngIf="formControls.description.errors.required">
                    Please Enter Course Description
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <ngx-dropzone (change)="onSelect($event)" [multiple]='false'
                  accept=".mp4,.flv,.mkv,.gif,.mov,.avi,.webm,.f4v,.swf">
                  <ngx-dropzone-label>Click to upload document or Just drop it here!</ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>
              </div>
            </div>

          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger">Cancel</button>
          <!-- <app-button [buttonType]="'submit'" (clicked)="onSubmit()" [isDisabled]="loading|async">Sign Up</app-button> -->
        </div>

      </app-card>
    </div>
  </div>

</form>
