<app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label font-weight-bolder">Full Name</label>
    <div class="col-sm-9">
      Lary Doe
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label font-weight-bolder">Gender</label>
    <div class="col-sm-9">
      Male
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label font-weight-bolder">Birth Date</label>
    <div class="col-sm-9">
      16-12-1994
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label font-weight-bolder">Martail Status</label>
    <div class="col-sm-9">
      Unmarried
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label font-weight-bolder">Location</label>
    <div class="col-sm-9">
      <p class="mb-0 text-muted">4289 Calvin Street</p>
      <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
      <p class="mb-0 text-muted">Maryland (21201)</p>
    </div>
  </div>
</app-card>
