.flexbox {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.flexbox > *:last-child {
    margin-right: 0;
}

.flexbox > * {
    margin-left: 4px;
    margin-right: 4px;
}

.box {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    // -webkit-box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
    // box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
}

.box-body {
    padding: 1.5rem 1.5rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 5px;
}


.bg-img {
    position: relative;
    border-bottom: none;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

 .btn-watch-video{
    background-color: #be0d36 !important;
    border-color: #be0d36 !important;
    color: #ffffff !important;
 }
 
 .mb-10 {
    margin-bottom: 10px !important;
}

.me-10 {
    margin-right: 10px !important;
}

 .h4, h4 {
    font-size: 1.2857142857142858rem;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 0.7142857143rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1.2;
}



.box-body a:hover, .box-body a:active, .box-body a:focus {
    color: #ee1044;
}

.box.bg-img, .box .bg-img {
    border-radius: 5px;
}

