<div class="row justify-content-center">
  <div class="col-lg-9">
    <div class="box">
      <div class="row g-0">
        <div class="col-md-4 col-12 bg-img h-md-auto h-250" style="background-image: url(./assets/images/main.jpg)">
        </div>
        <div class="col-md-8 col-12">
          <div class="box-body">
            <h4><a href="#">Aenean venenatis arcu quis ante porttitor bibendum.</a>
            </h4>
            <div class="d-flex mb-10">
              <div class="me-10">
                <i class="fa fa-user me-5"></i> Johen Doe
              </div>
              <div>
                <i class="fa fa-calendar me-5"></i> October 19, 2020
              </div>
            </div>

            <p>Vestibulum volutpat, ante sit amet dignissim imperdiet, diam diam
              sodales orci, in gravida lorem
              erat eu diam. Nulla lorem nunc, ultrices ac dignissim et, dignissim
              nec lacus. Praesent euismod
              lorem eget justo lacinia rutrum sed at mi.</p>

            <div class="flexbox align-items-center mt-3">
              <a class="btn btn-sm  btn-watch-video" href="#">Watch Video</a>

              <div class="gap-items-4">
                <a class="text-muted" href="#">
                  <i class="fa fa-heart me-1"></i> 25
                </a>
                <a class="text-muted" href="#">
                  <i class="fa fa-comment me-1"></i> 23
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
