<div>
  <form (submit)="onSubmit()" [formGroup]="resetPasswordForm">
    <div class="card-body">
      <h4 class="mb-3 f-w-400">Reset your password</h4>
      <div class="form-group mb-4">
        <input type="email" class="form-control" placeholder="Email" formControlName="email"
          [ngClass]="{'is-invalid': formControl.email.errors && submitted}">

        <div *ngIf="submitted && formControl.email.errors" class="invalid-feedback">
          <div *ngIf="formControl.email.errors.required">
            Please provide email.
          </div>
          <div *ngIf="formControl.email.errors.email">
            Please provide a valid email
          </div>
        </div>
      </div>

      <app-button [buttonType]="'submit'" [isDisabled]="loading|async">Reset Password
      </app-button>

      <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/register']"
          class="f-w-400">Register</a>
    </div>
  </form>
</div>
