<form [formGroup]="registrationForm" (submit)="onSubmit()">

  <div class="row btn-page">
    <div class="col-12">
      <app-card cardTitle="Add Teacher" cardClass="card-datatable" [options]="false">
        <div>
          <div class="row col-12">

            <div class="col-sm-12">
              <div class="form-group fill">
                <input type="text" class="form-control" placeholder="Name" formControlName="fullName"
                  [ngClass]="{'is-invalid': formControls.fullName.errors && submitted}">
                <div *ngIf="submitted && formControls.fullName.errors" class="invalid-feedback">
                  <div *ngIf="formControls.fullName.errors.required">
                    Please enter your full name.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group fill">
                <div class="input-group">
                  <input type="date" class="form-control" name="dp" placeholder="Date Of Birth"
                    formControlName="dateOfBirth"
                    [ngClass]="{'is-invalid': formControls.dateOfBirth.errors && submitted}">
                  <div *ngIf="submitted && formControls.dateOfBirth.errors" class="invalid-feedback">
                    <div *ngIf="formControls.dateOfBirth.errors.required">
                      Please choose your Date Of Birth.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group fill">
                <input type="email" class="form-control" placeholder=" Email" formControlName="email"
                  [ngClass]="{'is-invalid': formControls.email.errors && submitted}">
                <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
                  <div *ngIf="formControls.email.errors.required">
                    Please choose your email.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group fill">
                <input type="text" class="form-control" placeholder=" Contact" formControlName="phoneNumber"
                  [ngClass]="{'is-invalid': formControls.phoneNumber.errors && submitted}">
                <div *ngIf="submitted && formControls.phoneNumber.errors" class="invalid-feedback">
                  <div *ngIf="formControls.phoneNumber.errors.required">
                    Please Enter Valid Phone Number.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <select name="select" class="form-control form-control-default" formControlName="gender"
                  [ngClass]="{'is-invalid': formControls.gender.errors && submitted}">
                  <option value="opt1">Select One Value Only</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
                <div *ngIf="submitted && formControls.gender.errors" class="invalid-feedback">
                  <div *ngIf="formControls.gender.errors.required">
                    Please Select your Gender.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" formControlName="username"
                  [ngClass]="{'is-invalid': formControls.username.errors && submitted}">
                <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
                  <div *ngIf="formControls.username.errors.required">
                    Please enter your username.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" formControlName="password"
                  [ngClass]="{'is-invalid': formControls.password.errors && submitted}">
                <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
                  <div *ngIf="formControls.password.errors.required">
                    Please enter your password.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          <!-- <app-button [buttonType]="'submit'" (clicked)="onSubmit()" [isDisabled]="loading|async">Sign Up</app-button> -->
        </div>

      </app-card>
    </div>
  </div>

</form>
