<div class="row btn-page">
  <div class="col-sm-12">
    <app-card cardTitle="Document List" cardClass="card-datatable" [options]="false">
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-success btn-sm btn-round has-ripple" routerLink="/document/add"><i
              class="feather icon-plus"></i> Add Document</button>
        </div>
      </div>
      <div class="table-responsive">
        <table datatable id="report-table" class="table table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th>Type</th>
              <th>Title</th>
              <th>Class</th>
              <th>Subject</th>
              <th>Uploaded By</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="assets/images/user/avatar-1.jpg" class="img-radius" width="30px" height="30px"></td>
              <td>Tanvir Hasan</td>
              <td>patient@example.com</td>
              <td>9876543</td>
              <td>female</td>
              <td>
                <a href="javascript:" class="btn btn-info btn-sm">Edit</a>
                <a href="javascript:" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
