<div class="row btn-page">
  <div class="col-sm-12">
    <app-card cardTitle="Student List" cardClass="card-datatable" [options]="false">
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-success btn-sm btn-round has-ripple" [routerLink]="['/app/teacher/add']"><i
              class="feather icon-plus"></i> Add Teacher</button>
        </div>
      </div>
      <div class="table-responsive">
        <table id="report-table" class="table table-bordered table-striped mb-0 hover" datatable>
          <thead>
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teacher of teachersList">
              <td>{{teacher.fullName}}</td>
              <td class="text-capitalize">{{teacher.gender}}</td>
              <td>{{teacher.email}}</td>
              <td>{{teacher.phoneNumber}}</td>

              <td>
                <a href="javascript:" class="btn btn-info btn-sm" (click)="editTeacher(teacher.id)">Edit</a>
                <a href="javascript:" class="btn btn-danger btn-sm"
                  (click)="deleteTeacher(teacher.id,teacher.fullName)">Delete</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
